# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/
/test/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Temp swap files
.*.sw?

# Files made by Duke
/data/

/text-ui-test/ACTUAL.txt
text-ui-test/EXPECTED-UNIX.TXT
