@font-face {
    font-family: 'OpenSansEmoji';
    src: url('/fonts/OpenSansEmoji.ttf');
}

.dialog-text {
    font-family: 'OpenSansEmoji';
    -fx-font-family: 'OpenSansEmoji';
}

.dialog-panel {
    -fx-effect: dropshadow(GAUSSIAN, rgba(0,0,0,0.4), 5, 0.03, 0.03, 0.05);
    -fx-background-color: #ffffff;
    padding: 5px;
    -fx-padding: 5px;
}
