#scrollPane {
 -fx-background-color: black;
}

#dialogContainer {
 -fx-background-image: url("../images/jungle.jpeg");
 -fx-padding: 10px;
 -fx-spacing: 10px;
}

#dialog {
 -fx-text-fill: "white";
}

#dialogBox {
 -fx-background-color: rgba(214, 179, 66, 0.8);
 -fx-background-radius: 20px;
 -fx-spacing: 10px;
}

#userInput {
 -fx-background-color: rgba(214, 179, 66, 1.0);
 -fx-background-radius: 5px;
}

#sendButton {
 -fx-background-color: #d6bd2f;
 -fx-background-radius: 5px;
}

#sendButton:hover {
    -fx-background-color: #bfaa37;
    -fx-background-radius: 5px;
}

#sendButton:pressed {
    -fx-background-color: #d6bd2f;
    -fx-background-radius: 5px;
}

.scroll-bar {
 -fx-background-color: #b7ae4b;
 -fx-background-radius: 2px;
}

.scroll-bar:vertical .track {
 -fx-background-color: #b7ae4b;
 -fx-border-color:transparent;
}

.scroll-bar:vertical .track-background {
 -fx-background-color: #b7ae4b;
 -fx-background-insets: 0;
}

.scroll-bar:vertical .thumb {
 -fx-background-color: #3f380c;
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
}

.scroll-bar:vertical .thumb:hover {
 -fx-background-color: #594e11;
}

.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: #3f380c;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
}

.scroll-bar:vertical .increment-arrow {
 -fx-background-color: #3f380c;
}

.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: #3f380c;
}