:root {
    --text-color: #333333;
    --background-color: #f5f5f5;
    --header-color: #e5e5e5;
    --button-border-color: #333333;
    --button-hover: rgba(0, 0, 0, 0.1);

    --dark-text-color: #ffffff;
    --dark-background-color: #212121;
    --dark-header-color: #333333;
    --dark-button-border-color: #ffffff;
    --dark-button-hover: rgba(255, 255, 255, 0.1);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica";
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.375rem 0.5rem;
    background-color: var(--header-color);
}

button {
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid var(--button-border-color);
    color: var(--text-color);
}

button:hover {
    background-color: var(--button-hover);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-background-color);
        color: var(--dark-text-color);
    }

    header {
        background-color: var(--dark-header-color);
    }

    button {
        background-color: var(--dark-background-color);
        border: 1px solid var(--dark-button-border-color);
        color: var(--dark-text-color);
    }

    button:hover {
        background-color: var(--dark-button-hover);
    }
}