.dialog-container {
    -fx-background-image: url(../images/Background.png);
    -fx-background-size: 100%;
    -fx-background-position: bottom;
}

.send-button {
    -fx-background-radius: 10em;
}

.dialog-box {
    -fx-background-radius: 15 15 15 15;
    -fx-border-radius: 12 12 12 12;
    -fx-border-width: 2;
    -fx-padding: 15;
}

.duke-dialog-background {
    -fx-background-color: #2693A5;
}

.user-dialog-background {
    -fx-background-color: #18CBE7;
}
