.dialog {
    -fx-text-fill: white;
    -fx-background-color: teal;
    -fx-padding:7px;
    -fx-border-width:1;
    -fx-border-color:black;
    -fx-border-radius:12px;
    -fx-background-radius:12px;
}

#displayPicture {
    width:50px;
    height:50px;
    -fx-border-width:0.5;
    -fx-border-radius:50%;
    -fx-background-radius:50%;
}