/* We try to use a OOCSS methodology here */
/* Color scheme from: https://colorswall.com/palette/38872*/

/* Scene background */
.root {
    -fx-background-color: white;
}

/* Panes */

.pane {
    -fx-border-color: darkgray;
    /* -fx-border-width: 1px 0px 1px 0px; */
    -fx-border-width: 0px 1px 0px 0px;
    /* -fx-border-width: 5px; */
    -fx-border-style: solid;
    margin: 0;
}

.categoryPane {
    -fx-background-color: e0e0e0;
}

.listPane {
    -fx-background-color: white;
}

.descriptionPane {
    -fx-background-color: lightgray;
}

/* Label Formatting */
.label {
    -fx-background-color: white;
}

.label-skin {
    -fx-font-family: Helvetica;
    -fx-font-size: 24px;
    -fx-font-weight: bold;

}

.hoverableText:hover {
    -fx-text-fill: blue;
}

.hoverableLabel:hover {
    -fx-background-color: lightgray;
}

.selectedFill {
    -fx-background-color: #5ba8fc;
}

.selectedFill:hover {
    -fx-background-color:#308df2;
}

/* Toolbar */
.toolbar {
    -fx-background-color: linear-gradient(to bottom right, #004999, #0055b3)
}

/* Command Bar */
.commandField {
    -fx-border-radius: 0px;
    -fx-border-width: 0px;
    -fx-font-family: monospace;
}

.commandField:focused {
    -fx-background-insets: 0, 0;
    -fx-background-radius: 0px;
}